<div class = "title">
    <p>Replesentative works</p>
</div>

<div class = "large_explanation">
    <h2><p>Kawamoto Pump are used in popular building in japan,<br>
    Because of that reliability, we are choosed in the world.</p></h2>
</div>
    <div class = "box_works">
        <%= render @works %>
    </div>