@import "bootstrap-sprockets";
@import "bootstrap";

/* universal */

body {
  padding-top: 20px;
  font-family:"Segoe UI", "Meiryo UI" ;
}

.menu ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.menu li a {
  display: block;
  padding: 10px;
  margin-right: 20px;
  color: #ffffff;
  font-size: 18px;
  text-decoration: none;
}

.menu ul:after {
  content: "";
  clear: both;
}

.menu li {
  float: left;
  width: auto;
}

.boxA:after {
  content: "";
  clear: both;
}
.box0 {
  float: left;
  width: 80%;
}  

.box1 {
  float: right;
  width: 20%;
  box-sizing: border-box;
}  

.box1 a {
  display: block;
  text-align: center;
  border: solid 4px #0066bb;
  border-radius: 4px;
  margin-right: 60px;
}


.menu {
  float: left;
  width: 100%;
  background-color: #888888;
} 

.box1 a {
  display: block;
  padding: 5px;
  color: #000000;
  font-size: 14px;
  text-decoration: none;
  
}
.large_explanation {
  width: 1280px;
  margin: 100px 0px 20px 200px ;
  padding-left: 50px;
  background-color: #888888;
}

.box_works {
  width: 1280px;
  margin-left: 200px;
  padding-left: 50px;
  background-color: #888888;
}

.box_works:after {
  content: "";
  clear: both;
}


.each_work {
  padding-bottom: 40px;
  float: left;
  width: 20%;
}


#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}

.box_video_new {
    margin: 50px 50px 50px 50px;
}

.categoreslist {
  margin: 5px 0 10px 10px;
}